attendance-with-value.sql
notes.html
attendance.sql
attendance-data.sql
attendance-to-be-imported.sql
students_exports_official.xlsx
meanReversionForecast
previous_files
ai.html
ai.js

ana-new.php
ana.php
analytics-multiplier-new.php
analytics-no-monthly-trend.php
analytics-new.php
analytics-official-hardcoded.php
analytics-official-revise-it.php
analytics-official.php
analytics-previous-official.php
a.php
attendance-camera-only.php
attendance-scanner-selection.php
attendance-with-attendance-data.php
attendance-with-reason.php
attendance-with-schedule.php
attendance-without-schedule.php
generate-qr-code-dir-no.php
generate-qr-code-dir.php
manage-classes-css2.php
manage-students-control.css
manage-students-deletion-logic.php
manage-students-duplicate-script.php
mc-grace-period.php
qr-code-image-design.php
qr.php
rep.php
sc.php
sample.php
with.php
sample
generate.php
ms.php

config.php
analytics.php

# sign-up.php
# sign-in.php
# verify-email.php
# forgot-password.php
# reset-password.php
# attendance.php


